{{ partial "header" .}}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<!-- <h2>My Latest Job</h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ range first 1 $pages }}
    {{ if in .Site.Params.mainSections "portfolio" }}
      {{ partial "portfolio/item" .}}
    {{ else if in .Site.Params.mainSections "post" }}
      {{ partial "post/item" .}}
    {{ end }}
  {{ end }} -->

{{ partial "footer" .}}